@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+KR:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

@keyframes bg-pan-left {
  0% {
    background-color: steelblue;
    background-position: 100% 50%;
  }
  50% {
    background-color: rgb(61, 128, 122);
    background-position: 50% 50%;
  }

  100% {
    background-color: #dd5144 ;
    background-position: 0% 50%;
  }
}

@keyframes banner {
  from {
        opacity: 0;
  }
  to {
        opacity: 1;           
  }  
}

@keyframes shop-title {
  to {
    color: #fff ;
  }
}

@keyframes maintitle {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(15px);
            transform: translateZ(15px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes maintext {
  0% {
    -webkit-filter: blur(9px);
            filter: blur(9px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


@keyframes texteffact {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  
}

@keyframes pop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    color: #dd5144 ;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #bbbbbb, 0 2px 0 #bbbbbb, 0 3px 0 #bbbbbb, 0 4px 0 #bbbbbb, 0 5px 0 #bbbbbb, 0 6px 0 #bbbbbb, 0 7px 0 #bbbbbb, 0 8px 0 #bbbbbb, 0 9px 0 #bbbbbb, 0 50px 30px rgba(0, 0, 0, 0.5);
  }
}




body {
  font-family: 'Noto Serif KR', serif;
  font-family: 'Bebas Neue', cursive;
}
/* font-family: 'Montserrat', sans-serif; */

#main {
  position: relative;
}
.videowrap {
  position: relative;
  padding-top: 57px;
  width: 100%;
  height: 100%;
}

#player {
  position: fixed;
  padding-top: 57px;
  /* min-width: 1000px; */
  width: 100vw;
  height: 100vh;
  top: 0;
  /* filter: blur(3px); */
  background-color: black;
}

/* 숨김 메뉴 */
.hide-menu {
  /* display: none; */
  right: 0;
  width: 280px;
  height: 100vh;
  position: fixed;
  background-color:#b93b2f ;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: all 0.3s;
  z-index: 100;
}
.menu-close{
  position: absolute;
  display: inline-block;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.hide-list {
  margin: 60px 0 0 25px;
}
.hide-list li {
  margin-bottom: 30px;
}
.hide-item a {
  font-size: 30px;
  line-height: 30px;
  color: #FFF;
  font-family: 'Bebas Neue', cursive;
  transition: all 0.2s;
  opacity: 0.7;
}
.hide-item a:hover {
  font-size: 35px;
  opacity: 1;
  transition: all 0.2s;
}
.hide-item a::after {
  content: '';
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  width: 20px;
}



/* 섹션1 배너 */

.banner-header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: #292929;
  z-index: 10;
}
.upbtn {
  position: fixed;
  bottom: 25px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  animation: bounce 1s linear infinite alternate;
  opacity: 0.7;
  background: url(./img/화살표.png) no-repeat center;
  /* background-size: contain ; */
  background-color: #fff;
  transition: all 0.3s;
}
.upbtn:hover {
  opacity: 1;
  transition: all 0.3s;
}
.banner {
  min-height: 800px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.9;
  /* filter: blur(); */
  animation: bg-pan-left 5s ease-in-out infinite alternate  both;
}
.banner-header .banner-home,
.banner-header .menu-btn {
  /* display: inline-block; */
  line-height: 60px;
  padding: 0 30px;
  vertical-align: bottom;
  color: #fff;
  font-size: 20px;
  border:none;
  font-family: 'Bebas Neue', cursive;
  vertical-align: top;
  cursor: pointer;
}
.menu-btn {
  float: right;
  background-color: transparent;
}
.banner .banner-wrap {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  font-family: 'Bebas Neue', cursive;
}
.banner-back{
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  padding: 30px 30px;
  
}
.banner-back::after {
  content: '';
  background-color: black;
}
.banner .banner-title {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
  animation: banner 2s linear;
  animation: maintitle 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
}
.banner .banner-text {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  animation: banner 2s linear;
  animation: maintext 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.banner-text .banner-text-ko {
  font-family: 'Noto Serif KR', serif;
}
.banner-wrap .banner-btn {
  position: absolute;
  top: 65%;
  font-size: 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 20px;
  background-color: transparent;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
  transition: all 0.2s;
  animation: banner 4s linear;
}
.banner-btn:hover {
  font-size: 27px;
  transition: all 0.2s;
}
.banner .banner-scroll {
  position: absolute;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
.banner-scroll i {
  padding-top: 20px;
  text-align: center;
  display: block;
  transition: all 0.5s;
}
.banner-scroll:hover > i {
  transform: translateY(30px);
  transition: all 0.3s;
  
}


/* 섹션 2 */

.stack {
  width: 100%;
  height: 100%;
  background-color: #3d5358;
  opacity: 0.9;
  padding: 50px 0;
}
.stack-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack-title {
 
  text-align: center;
  display: inline-block;
  font-size: 36px;
  color: #fff;
  animation: texteffact 1s linear alternate infinite;

}
.stack-title::after {
  content: '';
  display: block;
  border-bottom: 2px solid #fff;
  width: 200px;
  margin-top: 10px;

}

.stack-text {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  margin-top: 30px;
  padding: 0 400px;
  text-align: center;
  line-height: 30px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.stack-list {
  display: flex;
  color: #fff;
  font-size: 30px;
  margin-top: 60px;
}
.stack-item1::before {
  content: '';
  display: inline-block;
  background: url(./img/html.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 50px;
  vertical-align: middle;
  padding-left: 5px ;
  margin-left: 30px;
}
.stack-item2::before {
  content: '';
  display: inline-block;
  background: url(./img/toppng.com-html-css-js-icons-661x856.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 50px;
  vertical-align: middle;
  padding-left: 5px ;
  margin-left: 30px;
}

.stack-item3::before {
  content: '';
  display: inline-block;
  background: url(./img/js.png) no-repeat;
  background-size: contain;
  width: 40px;
  height: 50px;
  vertical-align: middle;
  padding-left: 5px ;
  margin-left: 30px;
} 

/*  섹션 3 */

.bike {
  background-color: rgba(12, 40, 64, 0.9);
  width: 100%;
  height: 100%;
}
.bike-wrap {
  display: flex;
}
.bike-item-wrap {
  width: 45%;
  order: 1;
  overflow: hidden;
}
.bike-item-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}
.bike-item-wrap img:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
.bike-wrap:nth-child(2n) {
  flex-direction: row-reverse;
}

.bike-text-wrap {
  width: 55%;
  order: 2;
  color: #fff;
  font-weight: 100;
  padding: 100px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
.bike-text-wrap h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
}
.bike-text-wrap p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 40px;
}
.bike-wrap:nth-child(3) {
  background-color: rgba(10, 29, 46, 0.9);
}

/* 섹션 4 */

.shop {
  background-color: rgba(116, 127, 140, 0.9);
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}
.shop-header {
  width: 100%;
  height: 100%;
  padding: 100px;
  text-align: center;
  box-sizing: border-box;
}
.shop-title {
  display: inline-block;
  margin: 0 auto;
  color: #b93b2f;
  font-size:50px;
  text-align :center;
  position: relative;
  transition: all 1s;
  animation: shop-title 1.5s linear alternate infinite;
}
/* .shop-title:hover {
  color: #FFF;
  transition: all 0.2s;
} */
.shop-title::after {
  position: absolute;
  content: '';
  display: block;
  border-bottom: 4px solid #b93b2f;
  width: 220px;
  margin-top: 10px;
  left:50%;
  transform: translateX(-50%);
}


.shop-text {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  margin-top: 40px;
  text-align: center;
  padding: 0 100px;
  font-family: 'Montserrat', sans-serif;
}

.shop-list {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #3f4b59de;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.shop-item {
  width: 100%;
  color: #fff;
  font-weight: 200;
  padding: 70px 80px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.shop-item .item-title{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  transition: all 0.2s;
}

.shop-item .item-text {
  font-size: 20px;
  line-height: 30px;
  transition: all 0.2s;
}
.shop-item:nth-child(1) {
  background-color: #798ba0;
}
.shop-item:nth-child(2) {
  background-color:  #6a7e95;
}
.shop-item:nth-child(3) {
  background-color: #5f7186;
}
.shop-item:nth-child(4) {
  background-color: #556577;
}
.shop-item:nth-child(5) {
  background-color: #4a5868;
}



.shop-item:hover:nth-child(1) {
  background: url(./img/헬멧.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.7;
  transition: all 0.3s;
  color: transparent;
}

.shop-item:hover:nth-child(2) {
  background: url(./img/장갑.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.7;
  transition: all 0.3s;
  color: transparent;
}

.shop-item:hover:nth-child(3) {
  background: url(./img/신발.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.7;
  transition: all 0.3s;
  color: transparent;
}

.shop-item:hover:nth-child(4) {
  background: url(./img/자켓.jpg) no-repeat center;
  /* background-position: -150px -20px; */
  background-size: cover;
  opacity: 0.7;
  transition: all 0.3s;
  color: transparent;
}

.shop-item:hover:nth-child(5) {
  background: url(./img/acc.webp) no-repeat center;
  background-size: cover;
  opacity: 0.7;
  transition: all 0.3s;
  color: transparent;
}

.shop-item:hover:nth-child(6) {
  background-color: #b93b2f;
  transition: all 0.3s;
}
.shop-item:hover:nth-child(6) > .item-title {
  transform: scale(1.1);
  transition: all 0.2s;
}
.shop-item:hover:nth-child(6) > .item-text {
  transform: scale(1.1);
  transition: all 0.2s;
}


/*  섹션 5 */

.subcribe {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  background-color: #F2EFE9;
  position: relative;
}

.subcribe-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: #F2EFE9;
  border: 2px solid rgba(109, 109, 109, 0.699);
  border-radius: 10px;
  padding: 30px 30px;
}
.subcribe-text-wrap {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding:0 30px x;
}
.subcribe-title {
  font-size: 50px;
  letter-spacing: 1px;
  /* padding-left: 30px; */
}

.subcribe-text {
  line-height: 20px;
  padding-right: 50px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.subcribe-btn {
  width: 100%;
  height: 100%;
}
.input-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

#email {
  position: absolute;
  width: 100%;
  height: 60px;
  border-radius: 60px;
  border: none;
  text-indent: 80px;
}
.submit-btn {
  position: absolute;
  left: 75%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  width: 24%;
  border-radius: 40px;
  border: none;
  background-color: #414141;
  cursor: pointer;
}
.input-icon {
  position: absolute;
  left: 5%;
  color: #7e7e7e;
}
.modal-wrap {
  display: none;
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
#modal {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translatex(-50%);
  width: 620px;
  height: 310px;
  background-color: #1F2A40;
  padding: 30px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  z-index: 10002;
}
.modal-title {
  color: #fff;
  font-size: 100px;
  text-align: center;
  margin-bottom: 10px;
  animation: pop 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}
.modal-text {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.modal-close {
  display: block;
  background-color: #fff;
  color: #1F2A40;
  border-radius: 10px;
  font-size: 40px;
  margin: 0 auto;
  padding: 10px 30px;
  cursor: pointer;
  box-sizing: border-box;
}
.modal-close::before {
  position: absolute;
  bottom: 50px;
  left: 214px;
  content: '';
  width: 232px;
  height: 60px;
  background-color: #1F2A40;
  opacity: 0;
  transition: all 1s;
  cursor:unset;
}
.modal-close::after {
  position: absolute;
  top: 270px;
  left: 270px;
  content: "let's ride";
  font-size: 40px;
  color: transparent;
  transition: all 0.2s;
  
}
.modal-close:hover::after {
  transition: all 1s;
  color: #fff;
} 

.modal-close:hover::before  {
  transition: all 0.7s;
  opacity: 1;
}

/* footer */

.footer {
  width: 100%;
  height: 100%;
  background-color: #302e2e;
}
.footer-list {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  position: relative;
}
.footer-item {
  margin: 0 20px;
}
.footer-item a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer-item i {
  font-size: 30px;
  color: #5f6c7a;
  /* margin: 0 20px; */
}
.footer-item i:hover {
  color: antiquewhite;
  animation: bounce 0.2s linear infinite alternate both;
}

.footer-list::after {
  position: absolute;
  bottom: 35%;
  content: '';
  display: block;
  border-bottom: 2px solid #6a7e95;
  width: 250px;
}


.copy {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}
.copy-item {
  color: #5f6c7a;
  font-size: 12px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
}

.copy-item:nth-child(2)::before {
  content: '';
  display: inline-block;
  border-left: 2px solid #6a7e95;
  height: 9px;
  margin-right: 18px;
}


@media screen and (max-width:420px)  {
    #player {
      display: none;
    }
    .banner {
      opacity: 1;
    }
    .banner-header {
      position: static;
    }
    .banner .banner-title {
      text-align: center;
      font-size: 40px;
      animation:inherit;
    }
    .upbtn {
      position: absolute;
      right: 20px;
      bottom: 20px;
      transform: translateX(-50%);
    }
    .stack-text {
      font-size: 14px;
      padding: 0 10px;
    }
    .stack-list {
      font-size: 16px;
      margin-top: 30px;
    }
    .stack-item1::before {
      width: 30px;
      height: 40px;
    }
    .stack-item2::before {
      width: 30px;
      height: 40px;
    }
    .stack-item3::before {
      width: 30px;
      height: 40px;
    }
    .bike-text-wrap {
      padding: 10px;
    }
    .bike-text-wrap h2 {
      font: 16px;
    }
    .bike-text-wrap p {
      margin-top: 10px;
      font-size: 14px;
      line-height: 16px;
    }
    .shop-header {
      padding: 15px;
    }
    .shop-text{
      font-size: 14px;
      line-height: 20px;
      margin-top: 30px;
      padding: 0 10px;
    }
    .shop-list {
      grid-template-columns: repeat(1, 1fr);
    }
    .shop-item{
      padding: 20px;
    }
    .shop-item .item-title {
      font-size: 20px;
      margin-bottom: 25px;
    }
    .shop-item .item-text {
      font-size: 16px;
      line-height: 20px;
    }

    .subcribe-wrap {
      height: 200px;
      display: flex;
      flex-direction: column;

    }
    .subcribe-title{
      font-size: 30px;

    }
    .subcribe-text {
      padding: 16px;
    }
    #email{
      height: 40px;
      text-indent: 50px;
    }
    .submit-btn{
      height: 30px;
    }
    .footer-item i:hover {
      animation: none;
    }
    .copy {
      display: block;
      text-align: center;
    }
    .copy-item:nth-child(2)::before {
      display: none;
    }
}